@media only screen and (max-width: 767px)
  .section-1
    h3
      color: $orange
      font-weight: bolder
      font-size: 25px
      margin-top: 0
      margin-bottom: 0
      padding-top: 50px
      padding-bottom: 10px
      padding-left: 50px
      font-family: cocogoose

    p
      color: $orange
      margin-top: 0
      margin-bottom: 0
      padding-top: 10px
      font-weight: bolder
      font-size: 45px
      padding-bottom: 80px
      padding-left: 50px
      font-family: cocogoose

  .section-2
    .card-body
      border: 1.9px solid $white
      background-color: $light-grey

  .section-3
    a.text-underline
      text-decoration: underline

  .section-4
    .card
      margin: 0 auto 
      max-width: 767px

  .section-5
    .section-5-1
      position: relative

      img 
        height: 350px
    
      .card-img-overlay
        position: absolute
        top: -20px
        background: linear-gradient(rgba(255, 95, 42, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%)
    
    .section-5-2
      position: relative
    
      .card-img-overlay
          position: absolute
          top: -20px
          background: linear-gradient(rgba(255, 95, 42, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%)

  .section-6
    .mozilla-logo, .google-logo, .naver-logo, .airbnb-logo
      width: 190px
      height: 190px
    