@media only screen and (max-width: 767px)
  .section-1
    .card-body
      .heading-1, .heading-2
         color: $orange

  .section-2
    .card-body
      border: 1.9px solid $white
      background-color: $light-grey

  .section-3
    a.text-underline
      text-decoration: underline