@media only screen and (min-width: 768px)
  .navbar-2
    svg.facebook-logo, svg.twitter-logo
      fill: $white
      width: 10px !important
      height: 10px !important

  .navbar-3
    box-shadow: 5px 5px 7px $light-grey
    
    .navbar-3-logo
      width: 99px
      height: 46px

    .navbar-3-links
      .link-3, .link-6
        color: $orange !important

      .link-6
        border: 2.9px solid $orange

  .section-2.card
    border-radius: 50px 

    .card-body
      p span
        color: $orange
  
  .section-3
    margin: 0 auto !important
    max-width: 998px !important
    padding-top: 70px
    padding-bottom: 70px

    table
      tbody
        .custom-radio
          label 
            color: $orange