@media only screen and (max-width: 767px)
  .section-1
    background: url("../images/people-walking.jpg") no-repeat center

    h3
      color: $orange
      background-color: #eeeeef
      mix-blend-mode: screen
      font-weight: bolder
      margin-top: 0
      margin-bottom: 0
      padding-top: 50px
      padding-bottom: 10px
      padding-left: 50px
      font-family: cocogoose
    
    p
      color: $orange
      background-color: #eeeeef
      mix-blend-mode: screen
      margin-top: 0
      margin-bottom: 0
      padding-top: 10px
      font-weight: bolder
      font-size: 35px
      padding-bottom: 80px
      padding-left: 50px
      font-family: cocogoose

  .section-2
    .card-body
      border: 1.9px solid $white
      background-color: $light-grey
  
  .section-4
    .section-4-1-flex-sm-items
      display: flex
      justify-content: space-around
      background-color: #666666

    .item-1-1
      width: 100px
      height: 70px
    
    .item-1-2
      width: 67px
      height: 70px

    .item-1-3
      width: 67px
      height: 70px

    .item-1-4
      height: 70px
    
    .item-1-5
      width: 100px
      height: 70px

    .item-2
      color: $orange
    
    .btn
      background-color: $orange

  .section-5
    img
      box-shadow: -11px -5px black
    .media-body
      .font-italic
        color: $orange
  
  .section-6
    .mozilla-logo, .google-logo, .naver-logo, .airbnb-logo
      width: 100px
      height: 100px

  footer
    .media-body
      width: 90px
    
    